.test__statusbar {
  width: 100%;
  display: flex;
  gap: 5px;

  .default,
  .active,
  .disabled {
    width: 100%;
    height: 10px;
  }

  .default {
    background-color: $black-color;
  }

  .active {
    animation: 0.5s fadeIn forwards;
  }
  @keyframes fadeIn {
    0% {
      background-color: $grey-color;
    }
    100% {
      background-color: $accent-color;
    }
  }

  .disabled {
    background-color: $grey-color;
  }
}
