.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 700px;

  .test__timer {
    display: flex;
    align-items: center;
    gap: 10px;

    .test__timer__value {
      padding: 5px 10px;
      border: 1px solid $black-color;
      border-radius: 5px;
    }
  }

  .test__answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    button {
      margin-top: 10px;
    }

    input[type="text"] {
      border-radius: 5px;
      padding: 5px 10px;
      border: 1px solid $black-color;
      outline: none;
      transition: 0.2s;

      &:focus {
        outline: 1px solid $accent-color;
        border: 1px solid $accent-color;
      }
    }

    .test__answer {
      display: flex;
      gap: 10px;

      input[type="radio"]:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $accent-color;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
    }
  }

  .test__result {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
